@model Humin_Man.ViewModels.Product.ProductViewModel
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">
                    <span>Create Product</span>
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form name="productForm" asp-action="Create" asp-controller="Product">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="@Model.Name">Product Name</label>
                                <input class="form-control" asp-for="Name" required="required" />
                                <span asp-validation-for="Name" class="text-danger small float-left mb-1"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Image">Product Image URL</label>
                                <input class="form-control" asp-for="Image" required="required" />
                                <span asp-validation-for="Image" class="text-danger small float-left mb-1"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.BuyPrice">Buy Price</label>
                                <input type="number" class="form-control" asp-for="BuyPrice" required="required" />
                                <span asp-validation-for="BuyPrice" class="text-danger small float-left mb-1"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.SellPrice">Sell Price</label>
                                <input type="number" step="0.01" class="form-control" asp-for="SellPrice" required="required" />
                                <span asp-validation-for="SellPrice" class="text-danger small float-left mb-1"></span>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary float-right">Save Product</button>

                </form>
            </div>
        </div>
    </div>
</div>
