@{
    ViewData["Title"] = "Product";
}

@section Scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="~/js/pages/product.js" asp-append-version="true"></script>
}

@section Styles
    {
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
}

<div ng-app="App" ng-controller="product" ng-init="init()">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" ng-cloak>
                        <span ng-show="data.isUpdate == false">Create</span>
                        <span ng-show="data.isUpdate == true">Edit</span> Product
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form name="productForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Enter product name" name="name" ng-model="product.name" ng-minlength="3" ng-maxlength="15" required>
                                    <span ng-show="productForm.name.$dirty && (productForm.name.$error.minlength || productForm.name.$error.maxlength)" class="text-danger">
                                        Name must be between 3 to 15 characters.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Buy Price</label>
                                    <input type="number" step="1" class="form-control" placeholder="Enter buy price" name="buyPrice" ng-model="product.buyPrice" required ng-pattern="/^\d{1,16}(\.\d{1,2})?$/">
                                    <span ng-show="productForm.buyPrice.$dirty && productForm.buyPrice.$error.pattern" class="text-danger">Invalid buy price format. Only 18 didgits and 2 decimal places allowed.</span>


                                </div>
                                </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="custom-select" ng-options="category.id as category.name for category in categories" ng-model="product.categoryId" required></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Sell Price</label>
                                    <input type="number" step="1" class="form-control" placeholder="Enter sell price" name="sellPrice" ng-model="product.sellPrice" required ng-pattern="/^\d{1,16}(\.\d{1,2})?$/" greater-than>
                                    <span ng-show="productForm.sellPrice.$error.greaterThan && productForm.buyPrice.$dirty" class="text-danger">Sell price should be greater than buy price.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label>Image</label>
                                <input type="text" class="form-control" placeholder="Enter image URL" name="image" ng-model="product.image" ng-minlength="3" ng-maxlength="15" required>
                                <span ng-show="productForm.image.$dirty && (productForm.image.$error.minlength || productForm.image.$error.maxlength)" class="text-danger">
                                    Image URL must be between 3 to 15 characters.
                                </span>
                            </div>
                            </div>
                        </div>
                        <div class="card-footer" ng-cloak>
                            <button type="submit" class="btn btn-primary float-right" ng-click="storeProduct()" ng-show="data.isUpdate == false" ng-disabled="productForm.$invalid">Save</button>
                            <button type="submit" class="btn btn-primary float-right" ng-show="data.isUpdate == true" ng-disabled="productForm.$invalid" ng-click="updateProduct()">Update</button>
                            <button type="submit" class="btn btn-danger float-right mr-2" ng-click="reset()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>Image</th>
                                    <th>Buy Price</th>
                                    <th>Sell Price</th>
                                    <th>Last Updated</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in products" ng-class="{selected: product.id === data.selectedRow}" ng-cloak>
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.category.name}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td><img ng-src="{{product.image}}" alt="{{product.name}}" width="50"></td>
                                    <td>{{product.buyPrice}}</td>
                                    <td>{{product.sellPrice}}</td>
                                    <td>{{product.updatedAt | date:'MMM dd, yyyy h:mm a'}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info" confirmed-click="deleteProduct(product)" ng-confirm-click="Are you sure you want to delete?"><i class="fas fa-trash"></i></button>
                                            <button type="button" class="btn btn-info" ng-click="editProduct(product);rowHighlighted(product.id)"><i class="fas fa-edit"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="products.length== 0" ng-cloak class="text-center p-3 border-dark">  No data found </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
    .selected {
        background: #dee2e6;
    }
</style>